.Home {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.imageContainer {
  position: absolute;
  top: 80%;
  left: 10%;
  transform-origin: center;
  transform: scale(0.8) translate(-50%, -50%);
  width: 982px;
  height: 1512px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}