body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.Project {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 100vh;
}
.Sidebar {
  background-color:aquamarine;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline: 15%
}
.ImageGallery {
  flex-grow: 3;
  background-color: burlywood;
  overflow-y: auto;
  overflow-x: hidden;
}
.text-area {
}
.category-header {
  font-weight: 700;
  font-size: 1.25rem;
}
.project-links {
  li {
    list-style: none;
    a {
      color: black;
      font-size: 1.125rem;
    }
  }
}