.pageContainer {
  text-align: center;
  min-height: 100vh;
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.imageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding-bottom: 2rem; /* Add some padding at the bottom */
  height: 100%;
  @media (min-height: 760px) {
    transform: scale(0.9);
    transform-origin: center;
  }
  @media (min-height: 800px) {
    transform: scale(0.95);
    transform-origin: center;
  }
  @media (min-height: 860px) {
    transform: scale(1);
    transform-origin: center;
  }

} 